h2{
  margin: 0px;
}

.main{
  height: 90vh;
  background-image: url('/public/images/bull_bear.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  color: var(--textColor);
  background-color: var(--primaryColor);
  display: flex;
  justify-content: center;
  align-items: center;
}