.card{
  width: 200px;
  height: 136px;
  background-color: var(--secondaryColor);
  border-radius: 12px;
  padding: 8px;
  text-align: center;
  color: var(--primaryColor);
  display: grid;
  grid-template-areas: 
    'ticker ticker'
    'label-quantidade label-pm'
    'quantidade pm'
    'quantidade label-atual'
    'quantidade atual'
    'variacao variacao';
  align-items: center;  
}

.ticker{
  grid-area: ticker;
  font-size: 2em;
  font-weight: bold;
}

.label-quantidade{
  grid-area: label-quantidade;
}

.quantidade{
  grid-area: quantidade;
  font-size: 2.33em;
  text-align: center;
}

.label-precos{
  text-align: center;
  font-size: 0.7em;
}

.precos{
  text-align: right;
  padding-right: 8px;
  font-size: 0.9em;
}

.label-pm{
  grid-area: label-pm;
}

.pm{
  grid-area: pm;
}

.label-atual{
  grid-area: label-atual;
}

.atual{
  grid-area: atual;
}

.variacao{
  grid-area: variacao;
  text-align: end;
}

.no-margins{
  margin: 0px;
}